<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js"></script>

</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="login-signup">
            <h1>Welcome to Nasha Mukti, One stop solution to database integration!</h1>
            <p>New here? Register below.</p>
            <button onclick="showSignupForm()">Sign Up</button>
            <p>Already a user? Login below.</p>
            <button onclick="showLoginForm()">Login</button>
        </div>

        <div id="signup-form" class="hidden">
            <h2>Register</h2>
            <form>
                <input type="email" placeholder="Email">
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <button type="submit" onclick="signup()">Submit</button>
            </form>
        </div>

        <div id="login-form" class="hidden">
            <h2>Login</h2>
            <form action="choice.html" method="get" id="login-form">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Login</button>
            </form>
        </div>

    </main>
</body>

</html>