<div class="navbar shadow-sm fixed-top bg-white">
        <div class="logo">
            <img src="https://nasha-mukti.dhanyatha.repl.co/static/lowes.png">
        </div>
        <div class="nav-links">
            <a href="https://www.lowes.com/">Home</a>
            <a href="https://corporate.lowes.com/who-we-are">About</a>
            <a href="https://talent.lowes.com/us/en">Careers</a>
            <a href="https://www.lowes.com/l/help/contact-us">Contact Us</a>
        </div>
</div>
<div style="height:56px"></div>
